Chimera.Base/bin
/
Chimera.Base/obj
/
Chimera.DataAcess/bin

Chimera.DataAcess/obj
/
/Chimera.Deploy/bin
/Chimera.Deploy/obj
/Chimera.Deploy.Test/bin
/Chimera.Deploy.Test/obj
/Chimera.Entities/bin
/Chimera.Entities/obj
/Chimera.Security/bin
/Chimera.Security/obj
/Chimera.Security.Test/bin
/Chimera.Security.Test/obj
/Chimera.Web/bin
/Chimera.Web/obj
/Chimera.DataAccess.Test/bin
/Chimera.DataAccess.Test/obj
